{% extends 'base.html' %}
{% load blog_extras %}
{% block content %}
    <p class="connected-message">Vous êtes connecté !</p>
    
    <h2>Flux</h2>
    {% if combined_list %}
        <div class="grid-container">
            {% for item in combined_list %}
                {% if item.type == 'Blog' %}
                    {% include 'blog/partials/blog_snippet.html' with blog=item %}
                {% elif item.type == 'Photo' %}
                    {% include 'blog/partials/photo_snippet.html' with photo=item %}
                {% endif %}
            {% endfor %}
        </div>

        <!-- Section de pagination -->
        <div class="pagination">
            <span class="step-links">
                {% if combined_list.has_previous %}
                    <a href="?page=1">&laquo; première</a>
                    <a href="?page={{ combined_list.previous_page_number }}">précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ combined_list.number }} sur {{ combined_list.paginator.num_pages }}.
                </span>

                {% if combined_list.has_next %}
                    <a href="?page={{ combined_list.next_page_number }}">suivante</a>
                    <a href="?page={{ combined_list.paginator.num_pages }}">dernière &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>Aucun élément disponible pour le moment.</p>
    {% endif %}
{% endblock %}
