{% load static %}
<html>
    <head>
        <title>FotoBlog</title>
        <!-- Lien vers le fichier CSS -->
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>
    <body>
        <!-- Sidebar with links -->
        <div class="sidebar">
            <!-- Affichage de la photo de profil de l'utilisateur connecté -->
            {% if request.user.is_authenticated %}
                {% if request.user.profile_photo %}
                    <div class="profile-photo">
                        <img src="{{ request.user.profile_photo.url }}" alt="Profile Photo" class="avatar">
                    </div>
                {% else %}
                    <div class="profile-photo">
                        <img src="{% static 'default_profile_photo.jpg' %}" alt="Profile Photo" class="avatar">
                    </div>
                {% endif %}
            {% endif %}
            <a href="{% url 'home' %}">Accueil</a>
            <a href="{% url 'blog_create' %}">Écrire un billet</a>
            <a href="{% url 'blog_create' %}">Télécharger une photo</a>
            <a href="{% url 'create_multiple_photos' %}">Télécharger plusieurs photos</a>
            <a href="{% url 'password_change' %}">Changer le mot de passe</a>
            <a href="{% url 'upload_profile_photo' %}">Changer la photo de profil</a>
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="logout-button">Se déconnecter</button>
            </form>
        </div>

        <!-- Main content section -->
        <div class="main">
            <h1>FotoBlog</h1>

            <!-- Main content block -->
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
